body {
    background-color: rgb(40,50,98);
    font-family: 'Times New Roman', Times, serif;
    background-image: url(none);
    background-repeat: no-repeat;
}
th, td {
    border: 1px solid #ffffff;
}
table {
    background-color: #000000; 
    color: white; 
    width: 98%;
}
.mainui {
    background-image: url(main.jpg); 
    background-color: #000000;
    width: 530; 
    height: 675px;
}
.chbox {
    width: 10%; 
    height: 32px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #000000;
    text-align: left;
}
.logobox {
    width: 90%;
    background-color: #000000;
}
@media (max-width: 600px) {
    table {
        width: 100%;
    }
    .mainui {
        width: 100%;
    }
}
