@font-face {
	font-family: "tahoma";
	src: url("tahoma.ttf");
}

body {
    background-color: rgb(40,50,98);
    font-family: tahoma, 'Times New Roman', Times, serif;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
th, td {
    border: 1px solid rgba(0,0,0,0);
}
table {
    background-color: none; 
    color: white; 
    width: 98%;
}
.mainui {
    background-image: url(none); 
    background-color: none;
    width: 80%; 
    height: 675px;
}
.chbox {
    width: 3%; 
    height: 32px;
    font-family: tahoma, 'Times New Roman', Times, serif;
    background-color: #000000;
    text-align: center;
    background-image: url(chbox.png);
    color: black;
}
.logobox {
    width: 90%;
    background-color: #000000;
    background-image: url(logobox.png);
}
@media (max-width: 600px) {
    .bg {
	background-image: url(bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	height: 100vh;
	width: 100vw;
    }

    .content {
          position: absolute;
          left: 50%; 
          margin-top: 0px;
          transform: translateX(-50%);
          width: 100%;
    }
    table {
        width: 100%;
    }
    .mainui {
        width: 100%;
    }
}
